<launch>
  <node name="raspberry_camera_node" pkg="package_pi" type="camera.py" output="screen" />
  <node name="distance_node_raspberry" pkg="package_pi" type="ultrasonic.py" output="screen" />
  <!-- <node name="distance_node_arduino" pkg="package_pi" type="arduino_interface.py" output="screen"  /> -->
</launch>
  